body{
    margin:0;
    padding: 0;
  box-sizing: border-box;
  
}
h1{
    color: white;
    text-align: left;
 font-size: 2rem;
 margin: 0;


}
.wrapper{

    background: url(./img/pexels-artemyo-ermesson-9423870.jpg) center center no-repeat;
    background-size: cover;
   background-attachment:fixed;
/* scroll-behavior: ;
   height: 100vh;
  */
  width: 100%;
height: 150vh;
}

.solar-system{
    width: 100%;
 height:100vh;
    gap: 2rem;
    display: flex;
    justify-content: space-around;
     align-items: center;
 flex-wrap: nowrap;
     margin-top: 110px;
    
}
.Sun{
    width: 150px;
    height: 150px;
  mix-blend-mode:exclusion;
  
    border-radius: 50%;
    position: absolute;
   
}
.Mercury{
    width: 300px;
    height: 300px;
    mix-blend-mode: exclusion;
   
    background-color: rgba(180, 180, 180, 0);
    border-radius: 50%;
    position: relative;
    border: 2px solid rgb(179, 181, 136)  ;
    
    animation: spin 8s linear infinite;
}
.s{
    width: 35px;
    height: 35px;
  
    position: absolute;
   right: 100px;
    border-radius: 50%;
}
.Venus{
    width: 450px;
    height: 450px;
    border: 2px solid rgb(179, 181, 136)  ;
    border-radius: 50%;
    position: absolute;
   animation: spin 340s linear infinite reverse;
}
.s1{
    width: 50px;
    height: 50px;

    border-radius: 50%;
    position: absolute;
    right: 150px;
}
.Earth{
    width: 600px;
    height: 600px;
    mix-blend-mode: exclusion;
    border: 2px solid rgb(179, 181, 136)  ;

    border-radius: 50%;
    position: absolute;
   animation: spin 14s linear infinite;
}
.s2{
    width: 60px;
    height: 60px;
 
    border-radius: 50%;
    position: absolute;
    right: 140px;
}
.Mars{
    width: 700px;
    height: 700px;
    mix-blend-mode: exclusion;
    border: 2px solid rgb(179, 181, 136)  ;
    border-radius: 50%;
    position: absolute;
   animation: spin 1500s linear infinite;}
   
   .s3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 220px;
}
.Jupiter{
    width: 800px;
    height: 800px;
    mix-blend-mode: exclusion;
    border: 2px solid rgb(179, 181, 136)  ;
    border-radius: 50%;
    position: absolute;
   animation: spin 600s linear infinite;}

   .s4{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    right: 100px;
}
.Saturn{
    width: 900px;
    height: 900px;
    mix-blend-mode: exclusion;
    border: 2px solid rgb(179, 181, 136)  ;
    border-radius: 50%;
    position: absolute;
   animation: spin 60s linear infinite;}
   
   .s5{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: absolute;
    right: 280px;
}
.Uranus{
    width: 1000px;
    height: 1000px;
    mix-blend-mode: exclusion;
    border: 2px solid rgb(179, 181, 136)  ;
    border-radius: 50%;
    position: absolute;
   animation: spin 100s linear infinite reverse;
}
.s6{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    right: 320px;
}
.Neptune{
    width: 1100px;
    height: 1100px;
    mix-blend-mode: exclusion;
    border: 2px solid rgb(179, 181, 136)  ;
    border-radius: 50%;
    position: absolute;
   animation: spin 320s linear infinite;
}
.s7{
    width: 60px;
    height: 60px;

    border-radius: 50%;
    position: absolute;
    right: 180px;
}
@keyframes spin{
0%{
    transform: rotate(-360deg);
    
}

}